.top_half {
  display: flex;
  justify-content: center;
  align-items: center;

  > .team_info {
    display: flex;
    width: 50vw;
    flex-direction: column;

    > .team_name {
      font-size: 50pt;
      font-weight: bold;
      margin: 0;
    }

    > .team_extras_container {
      display: flex;
      justify-content: space-evenly;

      > .team_extras {
        display: flex;
        flex-direction: column;
        font-size: 16pt;
      }
    }
  }
}

.bottom_half {
  display: flex;
  flex-direction: inline;
  justify-content: space-around;
}

PlayerCardLarge {
  cursor: pointer;
}
